h2 Create Movie

form.col-xs-12.col-md-8.material-input(method="POST" action="/movies/create")
    .input-field.col.s6
        input#name(type='text' name="name" value=movie.name)
        label.active(for='name') Nombre
    .input-field.col.s6
        input#duration(type='number' name="duration" value=movie.duration)
        label.active(for='duration') Duracion en Minutos
    select(id="classificationType" name="classificationType")
        each classificationType in classificationTypes
            if classificationType == movie.classificationType
                option(value=classificationType selected="selected") #{classificationType}
            else
                option(value=classificationType) #{classificationType}
    .input-field.col.s6
        input#linkPoster(type='text' name="linkPoster" value=movie.linkPoster)
        label.active(for='linkPoster') Link Poster
    .col-xs-12.text-center
        button.btn.btn-primary(type="submit") Guardar